{% extends 'blog/base.html' %}

{% block content %}
  <section class ="site-content">
    <div class ="post">
      <h1 class='posttitle loader'>{{ post.title }}</h1>
      {% if post.published_date %}
          <div class="date postdate">
              {{ post.published_date }}
          </div>
      {% elif user.is_staff %}
          <a class="btn btn-outline-dark" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
      {% endif %}

      <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
        <div class="post-image">
          <div>
            <img src="{{post.image.url}}" class="img"/>
          </div>
        <p class='postcontent' >{{ post.text|safe|linebreaksbr }}</p>
        {% if user.is_authenticated and user.is_staff %}
            <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}"><span class="fa fa-pen"></span></a>
            <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}"><span class="fa fa-remove"></span></a>
        {% endif %}
       </div>
      </div>
      <!-- safe permet d'éviter que le texte soit compris en caractère HTML et linebreaks c'est pour  -->
      <!-- que le texte puisse aller à la ligne -->
    </div>





    <div class ="comment">
      <hr>
      <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
      {% for comment in post.comments.all %}
      <br>
        {% if user.is_authenticated or comment.approved_comment %}

          {{ comment.created_date }}
          <!-- La condition ci-dessous fait que dès qu'on approuve les deux symboles disparaissent -->
          {% if not comment.approved_comment and user.is_staff %}
              <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}"><span class="fa fa-remove"></span></a>
              <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}"><span class="fa fa-check"></span></a>
              <p>{{ comment.text|safe|linebreaks }}</p>
              <p>Posted by: <strong>{{ comment.author }}</strong></p>
          {% else %}
              <p>{{ comment.text|safe|linebreaks }}</p>
              <p>Posted by: <strong>{{ comment.author }}</strong></p>

          {% endif %}
        {% endif %}
      {% empty %}
          <p>No comments posted.</p>
      {% endfor %}
    </div>
  </section>
{% endblock %}
