{% extends 'blog/base.html' %}

{% block content %}
<section class="container">
  <div class="site-content">
    <div class="post">
        {% for post in post_list %}
        <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
          <div class="post-image">
            <div>
              <img src="{{post.image.url}}" class="img"/>
            </div>
            <div class="post-info flex-row">
              <span><i class="fas fa-user text-gray"></i>{{post.author}}</span>
              <span><i class="fas fa-calendar-alt text-gray date"></i> {{ post.published_date|date:"j M Y"}}</span>
              <span> Comments: {{ post.approve_comments.count }}</span>
            </div>
          </div>
          <div class = "post-tittle">
            <p> {{ post.title }} </p>
            <button class="btn post-btn">
              <a href="{% url 'post_detail' pk=post.pk %}">Read more &nbsp;<i class="fas fa-arrow-right"></i></a>
            </button>
          </div>
        </div>
      <hr>
      {% endfor %}
    </div>

    <aside class="sidebar">
      <div class="categorie">
        <h2>Categories</h2>
        <ul class="categorie-list">
          {% for category in categories %}
            <li class="list-items" data-aos="fade-left" data-aos-delay="100">{{category.category}}<span>({{category.category__count}})</span></li>
          {% endfor %}
        </ul>

    <div class="popular-post">
      <h2 >Popular Post</h2>
      {% for post in popular %}
        <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
          <div class="post-image">
            <div>
              <img src="{{post.image.url}}" class="img"/>
            </div>
            <div class="post-info flex-row">
              <span><i class="fas fa-user text-gray"></i>{{post.author}}</span>
              <span><i class="fas fa-calendar-alt text-gray date"></i> {{ post.published_date|date:"j M Y"}}</span>
              <span> Comments: {{ post.approve_comments.count }}</span>
            </div>
          </div>
        </div>
        <div class = "post-tittle">
          <p> {{ post.title }} </p>
          <button class="btn post-btn">
            <a href="{% url 'post_detail' pk=post.pk %}">Read more &nbsp;<i class="fas fa-arrow-right"></i></a>
          </button>
        </div>
      {% endfor %}
      </div>
    </aside>

  </div>
</section>
{% endblock %}
